@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    overflow-x: hidden;
    overflow-y: hidden;
}

body{
    margin: 0;
}

.about{
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    background: #ffffff;
/* border: red solid; */
}

.logo{
    display: flex;
    width: 30%;
    justify-content: center;
    align-items: center;
    /* border:red solid 1px; */

}

.logo img{
    height: 250px;
    max-width: 100%;
    margin-left: 15%;
    /* border:red solid 1px; */
}

.text-about{
    display: flex;
    flex-flow: column nowrap;
    width: 63%;
    margin: 3%;
    margin-left: 2%;
    margin-right: 4%;
    padding: 1.5%;
    border-radius: 15px;
    background: #dcdcdc;
    /* border: red solid 1px */
}
.text-about p{
    text-align: justify;
    font-size: 18px;
    
}


/* Smartphones (600px para baixo) */
@media only screen and (max-width: 768px){
    .logo img{
        width: min-content;
        height: min-content;
    };
}   
@media only screen and (min-width: 769px) {}

/* Dispostivos Largos (laptops/desktops, 992px para cima) */
@media only screen and (min-width: 992px) {}

/* Super Largos (Telas maiores laptops, desktops e até TVs, 1200px para cima) */
@media only screen and (min-width: 1200px) {}