@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');


*{
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    
}

body{
    background: #dcdcdc;
}

.forgot{
    text-align: center;
}

h1{
    font-weight: 500;
}

input{
    height: 35px;
    border-radius: 20px;
    border: none;
}
input[type="text"]{
    padding: 10px;
    margin: 10px;
}
input[type="submit"]{
    padding: 10px;
    color: white;
    background: #005FC1;
    transition: background 0.5s;
}
input[type="submit"]:hover{
    cursor: pointer;
    background: #083b6b;
}